* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(assets/images/arcade_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* for the of the background's black opacity */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.container {

    font-family: 'Press Start 2P', cursive;
    position: relative; /* Make container the reference for absolute positioning */
    width: 100%; /* Responsive width */
    max-width: 1000px; /* Limits how large the arcade machine can get */
    height: auto; /* Maintains aspect ratio */
    text-align: center;
}

#arcade-machine {
    width: 100%;
    /* Ensures image is responsive */
    height: auto;

}

#title,
#shadow {
    position: absolute;
    width: 80%;

    top: 5%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(2em, 8vw, 5em); /* Make the font size responsive */
}

#shadow {
    /* Glowing effect behind the text */

    text-shadow: 
        0 0 10px #FF4500,    /* Inner glow */
        0 0 15px #FFD700,    /* Middle glow */
        0 0 20px #FF4500;   /* Outer glow */
    animation: glow 1.5s ease-in-out infinite alternate;
}

.main-content {
    font-family: "Pixelify Sans", sans-serif; 
    position: absolute;
    box-sizing: border-box;
    color: white;
    top: 22.2%;
    left: 50%;
    /* Centers horizontally */
    transform: translateX(-50%);
    /* Offsets the element by 50% of its width to ensure it's truly centered */
    height: 25%;
    width: 67%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* Stack h1 and .infix vertically */
}

.arcade-prompt {
    font-size: clamp(2em, 6vw, 4em);
}

.process-title {
    font-size: clamp(1.3em, 6vw, 4em);
    font-weight: bold;
}

.gradient {
    background: linear-gradient(200deg, #FF4500, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#insertCoin,
#start,
#gameOver {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite;
}

#start, #gameOver {
    display: none;
}

.to-postfix,
.postfix-evaluation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.expression-container {
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

}

.expression-label {
    font-size: clamp(1.1em, 4vw, 2.6em);
}

#infixInput {
    font-family: "Pixelify Sans", sans-serif;
    font-size: clamp(1.1em, 5vw, 2.6em);
    color: #FFFFFF;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    border-style: dashed;
    margin-top: 1%;
    margin-bottom: 6%;
    padding: 0.8%;
    width: 75%;
    outline: none;
}

/* Prevent the background from turning white */
#infixInput:focus {
    background-color: transparent;
    /* Ensures the background stays transparent */
}

#postfix-final {
    font-size: clamp(1.3em, 6vw, 3.5em);
    color: #FFD700;
}

.outputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3%;
    font-size: clamp(1em, 4vw, 2.4em);
}

.finalOutputContainer, .evaluatedOutputContainer {
    height: 100%;
}


.finalOutput, .finalEvaluation {
    margin: auto;
    height: 50%;
    padding: 10px;
    font-size: clamp(1.1em, 4.5vw, 3em);
    animation: pulse 1.5s infinite;
}

.controls {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 48%;
    left: 18%;
}

.left-items {
    display: flex;
    gap: 15%;
    justify-content: space-between;
}

.button,
#coin_slot {
    width: clamp(40px, 10.5vw, 100px);
    height: auto;
}

.token-out-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 55.8%;
    left: 40%;
}

.token {

    width: clamp(40px, 8vw, 80px);
    height: auto;
    cursor: move; /* Change cursor to indicate draggable */
    position: absolute; /* Allow free positioning */
}

#token_out {
    width: 100%;
    height: auto;
}

.vid-container {
    position: absolute;
    top: 61%;
    width: 90%;
    height: 34%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

#vid-label {
    font-size: clamp(0.5em, 3.5vw, 2em); 
    font-weight: bold;
    color: white;
    margin-bottom: 1.5%;
}

.video {
    flex: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: clamp(4px, 1vw, 8px) solid #EF4E3C;
    border-radius: 0.3em;
    position: relative;
    transition: transform 0.3s;
}

.video:hover {
    transform: scale(1.02);
}

.video iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.video-title {
    padding: 3%;
    text-align: center;
    font-size: clamp(0.5em, 2.4vw, 1.5em); 
    font-weight: bold;
    color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-bottom: 1%;
}

.nav-button {
    font-family: "Press Start 2P", cursive; 
    font-weight: bold;
    color: white;
    border: none;
    padding: 10% 15%;
    cursor: pointer;
    font-size: clamp(0.5em, 2vw, 1em);
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #EF4E3C;
    border: clamp(2px, 0.5vw, 4px) solid #f27162;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #d74636;
    border-color: #f38376;
    transform: scale(1.05);
}

.nav-button:disabled {
    background-color: #f38376;
    border-color: #f8b8b1;
    cursor: not-allowed;
}

/* animation for title */
@keyframes glow {
    from {
        text-shadow: 
            0 0 10px #FF4500, 
            0 0 15px #FFD700, 
            0 0 20px #FF4500; 
    }

    to {
        text-shadow: 
            0 0 15px #FF4500, 
            0 0 20px #FFD700, 
            0 0 35px #FF4500; 
    }
}

/* animation for press start */
@keyframes pulse {
    0% {
        opacity: 1;
        /* Fully visible */
    }

    50% {
        opacity: 0;
        /* Fully invisible */
    }

    100% {
        opacity: 1;
        /* Back to fully visible */
    }
}

/* For tablets */
/* @media (max-width: 1024px) {
    .container {
        background-color: pink;
    } 
} */

/* Smaller tablets */
/* @media (max-width: 768px) {
    .container {
        background-color: blue;
    }
} */

/* Mobile devices */
/* @media (max-width: 480px) {
    .container {
        background-color: violet;
    }
} */